@model ProgramIndexViewModel

<div class="row">
    <div class="col col-md-12 table-responsive-md">
        <h3 class="alert-heading">Programs</h3>
        <a class="btn btn-xs btn-outline-success float-md-right" asp-action="Create">New Program</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    
                    <th class="text-warning">Actions</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Programs)
                {
                    <tr>
                        <td>
                            
                                @item.FLDPROGRAMCODE
                           

                        </td>
                       
                        <td>
                            @item.FLDPROGRAMNAME
                        </td>
                       
                        <td>
                            <a class="text-primary" asp-action="Edit" asp-route-id="@item.FLDPROGRAMID" title="Edit"><i class="fas fa-edit"></i> </a>

                            
                        </td>
                    </tr>


                }

            </tbody>
        </table>
    </div>
</div>
            